nav {
  width: 100%;
  color: #fff;
  padding: 4px 0;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  /* it is displaying the container in line that is the difference with displaying flex which is displaying container and displaying the childeren items  */
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: all 0.3s ease;
}

/* Hide the logo on screens smaller than 600px */
@media (max-width: 600px) {
  .logo {
    display: none;
  }
}

.logo:hover {
  transform: rotate(10deg) scale(1.1);
}
nav ul li {
  display: inline-block;
  font-size: 16px;
  margin: 5px 20px;
  list-style: none;
  /* it is displaying the childeren in along in line  */
}
.dark-nav {
  background: rgb(32, 9, 203);
  transition: 0.5s;
}
.menuIcon {
  display: none;
}

@media (max-width: 840px) {
  nav ul {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0; /* Move the menu to the left */
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
    background: #212ea0;
  }
 
  @media (max-width: 1000px) {
    nav ul {
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0; /* Move the menu to the left */
      z-index: -1;
      width: 200px;
      padding-top: 70px;
      transition: 0.5s;
      background: #212ea0;
    }

  nav ul li {
    display: block;
    margin: 25px 40px;
  }

  .menuIcon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .hide-mobile-menu {
    left: -200px; /* Hide menu off-screen to the left */
  }
}
