.test {
  margin: 40px auto;
  padding: 0 80px;
  position: relative;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 10px;
  width: 50px;
  background: #212ea0;
}

.back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow: hidden;
}

.slider ul {
  display: flex;
  overflow-x: hidden;
  width: 400%;
  transition: 0.5s;
}

.slider ul li {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.slide {
  line-height: 1.4;
  color: #676767;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05, green, blue, alpha);
}

.slide img {
  width: 100%;
  height: 400px;
}

/* Hover effect for text area only */
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect: move text up and down */
.slide:hover .user-info {
  transform: translateY(-10px); /* Move the text up */
}

/* Media query */
@media (max-width: 800px) {
  .test {
    padding: 0 40px;
  }

  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }

  .test ul li {
    padding: 10px;
  }

  .slide {
    padding: 10px;
  }

  .slide img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .user-info h3 {
    font-size: 16px;
  }
  .slider p {
    font-size: 14px;
  }
}
